.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.cta__description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: -20px;
}
