.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.cta__description {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.cta__button-container{
    display: flex;
    justify-content: center;

}

.cta__button {
    border: solid 2px var(--rouge);
    padding: 20px 37px;
    border-radius: 20px;
    margin-bottom: 20px;
}