.intro__exergue {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.intro__description {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 35px;
}

.intro__short-line {
    width: 226px;
}
