.intro__exergue {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.intro__container-btn {
    border: solid 2px var(--rouge);
    padding: 20px 37px;
    border-radius: 20px;
}

.intro__container {
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 36px;

}

.intro__description {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 35px;
}

.intro__short-line {
    width: 226px;
}
