.movie {
    margin-top: 20px;
}

.movies__title {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}
.movie__block {
    display: flex;
    align-items: center;
    

}
.movie__author {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: 180px;
}
.movie__img {
    width: 180px;
    height: 270px;
}

.movie__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.movie__detail strong {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.movie__title {
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 0;
}

.movie__date {
    width: 160px;

}
.movie__data {
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-top: 0;
}

.movie__info {
    margin-right: 30px;
}
