.partner__title {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.partners__imgs {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.partners__img {
    width: 180px;
    height: auto;
    flex-shrink: 0;
}