.work {
    margin-top: 40px;
} 



.work__chapo {

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.work__subtitle {
    margin-bottom: 0;
}

.work__list {
    margin-top: 10px;
}