@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Vendors */
@import "/src/css/vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "/src/css/layout/header.css";
@import "layout/footer.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";
@import "components/section.css";
@import "components/intro.css";
@import "components/button.css";
@import "components/cta.css";
@import "components/work.css";
@import "components/partner.css";
@import "components/jury.css";
@import "components/cta.css";
@import "components/program.css";
@import "components/movie.css";
@import "components/about.css";